<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kralovec.sk / Vitajte v Kráľovci 🙂</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css?fck-ptn-1">
    <link rel="icon" href="/img/favicon.ico" />
</head>
<body>
    <section class="cover">
        <h1>Vitajte v Kráľovci</h1>
        <p>
            <span>
                <strong>Kráľovec je Česko.</strong> V&nbsp;úspešnom reference ohromujúcich 97,9&nbsp;% obyvateľov bývalého Kaliningradu rozhodlo, že chcú svoj región
                premenovať na Královec a&nbsp;pripojiť ho k&nbsp;Českej republike.
            </span>
        </p>
        <p>
            <span>
                Nový český región teraz otvára svoje brány turistom z&nbsp;celého sveta. Spoznajte českú históriu tohto mesta, príďte sa okúpať v&nbsp;českom mori.
            </span>
        </p>
    </section>

    <footer>
        <p>© 2022 Královec</p>
        <p class="hashtag">#KralovecIsCzechia</p>
    </footer>
</body>
</html>
